* {
    box-sizing.border-box
}

body {
    background: #ADD8E6;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0;
}

.container {
    height: 5vh;
    width: 5vw;
    background: blue;
    display: absolute;
    top: 50px;
    right: 50px;
}
