* {
    box-sizing: border-box;
}

body {
    background: #ADD8E6;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.title {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0px;
}

.hit-me {
    display: flex;
    z-index: 100;
    background: blue;
    height: 50px;
    width: 50px;
    text-align: center;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    animation: moving 1.5s ease-in-out infinite alternate;
    transition: opacity .5s ease-in;
}

.hit-me.active {
    opacity: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container .panel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    height: 15vh;
    width: 17vw;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    transform: scale(0);
    opacity: 0;
    transition: opacity .5s ease-in;
    animation: moving 1.5s ease-in-out infinite alternate;
}

.panel.active{
    transform: scale(1);
    opacity: 1;
}

.container .panel a {
    font-size: 5vh;
    color: white;
    text-decoration: none;
}

.bg-music {
    background: blue;
    color: white;
    margin: 0.5rem;
    height: 40px;
    width: 40px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 7px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.loading{

}

.practice{

}

.expanding {

}

.search {
    background: white;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    height: 50px;
    width:50px;
    position: absolute;
    top: 0;
    right: 0;
    translation: transform 1s ease;
    top: 20px;
    right: 20px;
}

@keyframes moving {
    from {
        transfrom: translateY(0px)
    }
    to {
        transform: translateY(10px)
    }
}
