* {
    box-sizing: border-box;
}

body {
    background: #ADD8E6;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.title {
    position: absolute;
    display: flex;
    justify-content: center;

    top: 0px;
    margin: 0;
}

.container {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: grid;
}
.container .panel {
    position: absolute;
    justify-content: center;
    align-items: center;
    background: blue;
    height: 10vh;
    width: 12vw;
    border: 1px solid black;
    border-radius: 10px;
}

.container .panel a {
    display: relative;
    font-size: 20px;
    color: white;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 15px;
    left: 2.5vw;
}
