* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.button {
    background: grey;
    height: 5vh;
    width: 5vw;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    right: 70px;
    cursor: pointer;
}


.bg {
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.bg.active {
        width: 100vw;
    height: 100vh;
    z-index: -1;
    background: black
}

.button.btn {
    background: black;
    border: 0;
    height: 41.5vh;
    width:45vw;
    position: absolute;
    border-radius: 10px;
}

.btn.active {
    opacity: 0;
}
/* .btn2 {
    background: black;
    border: 0;
    height: 41.5px;
    width:45px;
    position: absolute;
    border-radius: 10px;
} */
