@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    box-size: border-box;
    margin-box;
    pading: 0;
}

body{
    font-family: "Playfair Display", serif;
    background: #222222;
    overflow-x: hidden;
    paddingh-bottom: 50px;
}

.container {
    max-width: 1200px;
    background: #fafafa;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}


