*{
    box-sizing: border-box;
}


body {
    background: linear-gradient(90deg, rgb(171, 119, 201), blue);
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0;
}


.search {
    position: relative;
    height: 50px;

}


.input {
    background: white;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 1s; ease;
}


.input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.btn {
    background: white;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    height: 50px;
    width:50px;
    position: absolute;
    top: 0;
    left: 0;
    translation: transform 1s ease;
}

.seatch.active .btn{
    transform: translateX(198px);
}
